
div {
    font-family: verdana;
    text-align: center;
}
h1 {
    text-align: center;
    
}
#main-container{
    display: grid;
    background-color: yellow;
    width: 100%;
    height: 100vh;
    grid-template-rows: auto auto;
    grid-template-columns:  15% 85%;
    
}
p {
    margin: 0;
}

#venues-container{
    grid-column: 2 ;
    grid-row: 1 ;
    border: 1px solid black;
    background-color: blue;
}

img {
    max-height: 200px;
    max-width: 200px;
}
.venue-details {
    align-self: center;
}
.venue-info {
    border: 3px solid black;
    margin: 1em;
    padding: 1em;
    background-color: grey;
    max-width: 35000px;
    max-height: 350px;
}
.venue-info > * {
    background-color:grey;
    
}
.notes{
    background-color: yellow;
}
.website a {
    color: orange;
    text-decoration: none;
}
a:hover{
    transform: scale(1.2);
    transform: skewY(5deg);
}
.website a:hover{
    background-color: dodgerblue;
    color: yellow;
    border: 1px solid black;
}
#navbar {
    border: 1px solid black;
    background-color: rgb(255, 8, 173);
    grid-column: 1 ;
    grid-row: 1 /span  2 ;
    
}

#navbar > a {
    background-color:rgb(255, 119, 8);
    padding: 1em;
    border-top: 1px dotted white;
    border-bottom: 1px dotted white;
    
}   
#navbar a:hover {
    background-color: dodgerblue;
}
#footer{
    
    grid-row: 2;
    grid-column: 2;
    background-color: purple;
    border: 1px solid green;
}
#venue-flex{
    display: flex;
    flex-wrap: wrap;
}
#dropdowns {
    display: flex;
    justify-content: left;
    border: 1px solid yellow;
    max-width: 300px;
    
}
#neighborhoods {
    display: flex;
    flex-direction: column;
    margin: 1em;
}
#types {
    display: flex;
    flex-direction: column;
    margin: 1em;
}
#types > label {
    margin: .5em;
}
#neighborhoods > label {
    margin: .5em;
}
.fields {
    display: flex;
    border: 1px solid yellow;
    max-width: 300px;
    align-items: center;
    
}
.label{
    margin: .5em;
}
#footer-grid {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto; 
}
