body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.venue-flex img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

#header {
    background-color:rgba(255, 174, 0, 0.76);
    color: cornsilk;
    margin-left: 1rem;
    margin-right: 1rem;
}
a {
    text-decoration: none;
    color: black;
}
.notes li {
    font-size: small;
}
img {
    border: 2px solid black;
}
a:visited {
    color: black;
}
a:hover{
    background-color: rgba(245, 41, 167, 0.541);
    color: white;
}
.venue-flex{
    display: flex;
    flex-wrap: wrap;
}
.visited, .mustvisit{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    margin :1rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}
#venue{
    width: 300px;
    height: 400px;
}
#venue img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}
#venue > * {
    margin: .25rem .25rem;
}
.visited {
    background-color: rgba(255, 51, 0, 0.562); 
}
.mustvisit {
    background-color: rgba(9, 168, 70, 0.411);
}
.venueform{
    display: flex;
    align-items: flex-end;
    align-self: center
}
.textinput{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
.dropdowns{
    display: flex;
    flex-direction: column;
}
#header{
    display: flex;  
    justify-content: space-evenly;

}
.notes #notes{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}
.innernotes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.venueform{
    border: 1px solid black;
    width: 400px;
    padding-bottom: .5rem;
    padding-left: .5rem;
}
#notes{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 300px;
    height: 400px;
    background-color: cornsilk;
    margin :1rem;
    border-radius: 10%;
    
}

.addnote {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
}
#container{
    display: flex;
    margin-top: 2rem;
}
.wrap a{
    text-decoration: none;
    border: 1px solid black;
    display: flex;
    background-color: cyan;
    border-radius: 9%;
    font-size: smaller;
    align-items: flex-start;
    justify-content: space-evenly;
}

.wrap > * {
    margin: .25rem;
    width: 125px;
}
.singleform {
    display: flex;
    width: 350px;
    margin-top: 1rem;
    align-items: center;
    border: 1px solid darkcyan;
    background-color: lightslategrey
}
.singleform > input {
    width: 180px;
    margin-top: .5rem;
    margin-left: .5rem;
}
.singleform > button {
    width: 100px;
    margin-top: 1rem;
    margin-bottom: .5rem;
    margin-left: .5rem;;
}

.info{
    border: 1px solid darkslategrey;
    padding: .25rem;
    background-color: darkcyan;
    color: white;
    font-weight: bold;
}
button:hover {
    background-color: rgba(255, 174, 0, 0.76);
}
h3{
    margin: .25rem;
}
.list{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 300px;
    height: 600px;
    background-color: cornsilk;
    align-items: flex-start;
    margin :1rem;
    border-radius: 10%;
}
.list h2 {
    align-self: center;
}




  button {
    border: 1px solid #ff7a59;
  }
  
  button:hover {
    border: 3px dotted #f11e1e;
    
  }
  .color img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all .15s ease;
    }
    .color img:hover{
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: saturate(3);
    transition: .10s ease;
    }
.active{
    background-color: lightgoldenrodyellow;
    border: 1px solid darkslategrey;
}
#venues-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
h3.strike{
    text-decoration: line-through 2px;
}
@media all and (max-width: 320px) {
    * {
        display: block;
        margin: 5px 0px;
    }
}