
div {
    font-family: verdana;
    text-align: center;
}
h1 {
    text-align: center;
    
}
#main-container{
    display: flex;
    background-color: yellow;
    
}
p {
    margin: 0;
}
#second-container{
    display: flex;
    flex-direction: column;
    background-color: green;
    border: 1px solid black;
}
#venues-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid black;
    background-color: blue;
}

img {
    max-height: 400px;
    max-width: 400px;
}
.venue-details {
    align-self: center;
}
.venue-info {
    border: 3px solid black;
    margin: 1em;
    padding: 1em;
    background-color: grey;
}
.venue-info > * {
    background-color:grey;
}
.notes{
    background-color: yellow;
}
.website a {
    color: orange;
    text-decoration: none;
}
a:hover{
    transform: scale(1.2);
    transform: skewY(5deg);
}
.website a:hover{
    background-color: dodgerblue;
    color: yellow;
    border: 1px solid black;
}
#navbar {
    border: 1px solid black;
    background-color: rgb(255, 8, 173);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#navbar > a {
    background-color:rgb(255, 119, 8);
    padding: 1em;
    border-top: 1px dotted white;
    border-bottom: 1px dotted white;
    
}   
#navbar a:hover {
    background-color: dodgerblue;
}
#footer{
    display: flex;
    background-color: purple;
    border: 1px solid black;
    flex-direction: column;
}
#dropdowns {
    display: flex;
    justify-content: center;
    border: 1px solid yellow;
}
#neighborhoods {
    display: flex;
    flex-direction: column;
    margin: 1em;
}
#types {
    display: flex;
    flex-direction: column;
    margin: 1em;
}
#types > label {
    margin: .5em;
}
#neighborhoods > label {
    margin: .5em;
}
.fields {
    display: flex;
    border: 1px solid yellow;
    flex-direction: column;
}
.label{
    margin: .5em;
}